*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    
    /* height: 100%;
    background-image: url(./assets/beckground.png), url(./assets/bg-2.png);
    background-position: top ,  center; */
    background:  linear-gradient(to bottom, #3333A3  , #121212  ,#121212,#121212,#121212 );
}


.datails {
    background: linear-gradient(to bottom, #DEF628 , #121212,#121212,#121212,#121212,#121212);
}
.likes{
    background: linear-gradient(to bottom, #604EC1,#121212,#121212,#121212,#121212);
}